/* 購買單隻區域 */
.cart-img{
    max-height: 300px;
    object-fit: cover;
}
#cartPart span , #cartPart span i , .cart-text{
    font-size: 1.5rem;
    color :	#5b5b5be0;
}

/* 訂閱制區域 */
#monthPart span , #monthPart span i , .cart-text{
    font-size: 1.5rem;
    color :	#5b5b5be0;
}

/* 總金額區域 */
#totalPrt span , #totalPrt span i , .cart-text{
    font-size: 1.5rem;
    color :	#5b5b5be0;
}
/* #totalPart{
    background-image: radial-gradient( circle ,var(--complementary-text) 0%, var(--complementary-text)50%, transparent 50% );
} */
#btnCheckOut{
    background-color: var(--highlight-text);
    color: var(--main);
}
#btnCheckOut:hover{
    background-color: var(--main-head);
}