.log-in-input:valid+p::after{
    content: '\2713';
    color: green;
}

#log-in{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.596);
    box-shadow: 0 0 5px rgba(163, 161, 161, 0.625);
}

@media screen and (min-width:768px) {
    #log-in{
        width: 50%;
    }
    
}

.loginpage .rounded-pill{
    background-color: var(--btn);
}

.loginpage .rounded-pill:hover{
    background-color: var(--btnClick);
}