/* 過場畫面 */
#loading{
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.931);
    z-index: 10;
    display: none;
}
#loading-content{
    position: absolute;
    top: 50%;
    left: 50%;
}
.loading-foot:first-child , .loading-text{
    transform: translate(80px,0px);
    position: absolute;
    top: 50%;
    left: 50%;
}
.loading-foot:nth-child(2){
    animation: foot 11s steps(11) 1 forwards;
}

/* 右下互動寵物 */
/* .conversationOutside {
    bottom: 0px;
    left: 0px;
    width: 200px;
    visibility: hidden;
}
.conversationOutside img {
    max-width: 100%;
    object-fit: contain;
    bottom: 5px;
    left: 5px;
}
#conversation {
    border-radius: 50%;
    background-color: var(--btn);
    width: 250px;
    height: 100px;
    left: 50px;
    transform: rotate(-10deg);
}
#conversation::before {
    content: '';
    border-top: 20px solid var(--btn);
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    transform: rotate(10deg);
    top: 93px;
    left: 55px;
}
.conversationText {
    top: 25%;
    left: 15%;
}
.conversationNaming{
    top: 35%;
    left: 15%;
}
@keyframes jump {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -50px);
    }

    100% {
        transform: translate(0, 0);
    }
}
#jumpShadow {
    background-color: rgba(128, 128, 128, 0.758);
    width: 60px;
    height: 10px;
    border-radius: 50%;
    bottom: 10px;
    left: 35%;
}
.jumpShadowAnimation {
    animation: jumpShadow .5s ease-in-out;
}
@keyframes jumpShadow {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(.8);
        opacity: .6;
    }

    100% {
        transform: scale(0);
    }
} */

/* 上方選擇區域 */
#make-container{
    margin-top: 3%;
}
#make-container h1{
    color: var(--main-head);
    background-image: linear-gradient(transparent 50% , var(--main) 50%);
    margin-left: 10%;
    margin-right: 10%;
}
.option-content {
    height: 85vh;
}
.radioOption {
    display: none;
    /* 隱藏選項圓點 */
}
.radioOption:hover+.radioLabel {
    transform: scale(1.1);
    box-shadow: 0 0 3px var(--dark-text);
}
.radioLabel {
    font-size: 35px;
    border: 2px solid var(--dark-text);
    border-radius: 30px;
    color: var(--dark-text);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.orContent {
    font-size: 30px;
    align-content: center;
    color: var(--main-head);
}
@keyframes flipCard {
    /* 上方選擇區域翻頁效果 */
    0% {
        transform: rotateY(270deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}
.radioLabelFlip {
    animation: flipCard .8s ease-in-out;
}

/* 下方已選擇區域 */
.checkedOption {
    font-size: 16px;
    color: var(--dark-text);
    border-radius: 25%;
    line-height: 25px;
    height: fit-content;
}
.checkedOption:hover{
    transform: scale(1.1);
}
/* 期待分別往左右兩邊跑，故寫成兩個動畫 */
/* 下方已選區域發牌效果-特質 */
@keyframes checkedTrait {
    0% {
        transform: translate(-15px, -200px);
    }
    100% {
        transform: translate(0, 0);
    }
}
.checkedTrait {
    animation: checkedTrait .5s ease-in;
}
/* 下方已選區域發牌效果-外表 */
@keyframes checkedAppearance {
    0% {
        transform: translate(15px, -200px);
    }
    100% {
        transform: translate(0, 0);
    }
}
.checkedAppearance {
    animation: checkedAppearance .5s ease-in;
}


/* 已選選項及剪影間的關連線 */
.relateLine{
    border-bottom: 2px dashed var(--dark-text);
    height: 30px;
    width: 100%;
}
#relateLine1 , #relateLine8{
    transform: rotate(15deg);
}
#relateLine2 , #relateLine7{
    transform: rotate(5deg);
}
#relateLine3 , #relateLine6{
    transform: rotate(-5deg);
}
#relateLine4 , #relateLine5{
    transform: rotate(-15deg);
}
/* 剪影彈跳效果 */
@keyframes blindAnimation {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }    
}
.blindImgAnimation{
    animation: blindAnimation .3s linear;
}
#blindImg , .relateLine{
    display: none;
    /* 預設不顯示，min-width768顯示 */
}
#blindImg img {
    filter: brightness(0%);
    max-width: 100%;
    object-fit: contain;
    border-radius: 50%;
}
/* 已選擇區域的外表、特質卡 */
.appearanceCard , .traitCard{
    width: 100%;
    height: 50px;
    border: 2px dashed var(--dark-text);
    padding: 5px;
}

/* 製作完成按鈕 */
#make-done {
    font-size: 25px;
    border:1px solid var(--dark-text);
}
#make-done a {
    color: var(--dark-text);
}
#make-done:hover {
    transform: scale(1.1);
}

/* 腳印部分、前進效果 */
#footprintDiv{
    width: 80%;
    height: 100px;
    bottom: 3%;
    left: 10%;
    line-height: 80px;
}
.footprintItem i{
    color: rgb(190, 190, 190);
    opacity: .8;
}
.footprintItem:nth-child(even){
    width: 50%;
    margin-top: auto;
    transform: rotate(5deg);
}
.footprintItem:nth-child(odd){
    width: 50%;
    margin-bottom: auto;
    transform: rotate(-5deg);
}

/* RWD */
@media screen and (min-width:768px) {
    .radioLabel {
        font-size: 48px;
        align-content: center;
    }
    .orContent {
        font-size: 30px;
    }
    .checkedOption {
        font-size: 24px;
    }
    /* .conversationOutside{
        width: 280px;
    }
    #jumpShadow {
        left: 110px;
    } */
    #blindImg , .relateLine{
        display: block;
    }
    #footDiv{
        visibility: visible;
    }
}
/* @media screen and (min-width:1400px) {
    .conversationOutside {
        width: 350px;
    }
    #jumpShadow {
        left: 150px;
    }
} */