/* 整體版面網格系統排版、RWD */
@media screen and (min-width:992px) {
    .grid-container{
        display: grid;
        grid-template-columns: 12.5% 25% 25% 25% 12.5%;
    }
    .grid-item1{
        grid-column: 2 / span 1 ;
        grid-row:1;
        
    }
    .grid-item2{
        grid-column: 3 / span 2 ;
        grid-row:1 / span 2;
        
    }
    .grid-item3{
        grid-column: 2 / span 1 ;
        grid-row:2;
        
    }
}

/* 基本資料區域 */
#photo img{
    width: 50%;
    object-fit: contain;
}
@media screen and (min-width:1500px) {
    #photo img{
        width: 40%;
    }    
}

/* 互動區域 */
#interactive-partner-photo img{
    width: 40px;
    height: 40px;
}
#interactive-partner-feedback{
    overflow-y: auto;
    height: 55%;
}
#interactive{
    overflow-x: auto ;
}
.optionsBehaviors{
    background-color: var(--light-color);
    border-radius: 25%;
}
.option-text{
    color: var(--main-head);
}
.optionsBehaviors:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/* 打字效果 */
.textFeedback::after{
    content: '';
    border-left:1px solid gray;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: var(--main);
    width: 95%;
    height: 60%;
    position: absolute;
    top:5px;
    right: 0;
    animation: typeWrite 1s steps(9) 1 forwards , blank .5s steps(8) infinite forwards;
    /* 動畫設定在homepage.css */
}

/* 成就區域 */
.achievement-progress{
    background-color: var(--light-color);
    border-radius: 15px;
    display: none;
    animation: displaySwitch 1.5s ease-out;
}
.achievement-progress i{
    color: var(--main-head);
}
/* 成就區域顯示、消失效果 */
@keyframes displaySwitch {
    0%{
        opacity:0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}