#photo img{
    width: 50%;
    object-fit: contain;
}

#interactive-partner-photo img{
    width: 40px;
    height: 40px;
}

#interactive-partner-feedback{
    overflow-y: auto;
    height: 55%;
}

#interactive{
    overflow-x: auto ;
}

.progress-bar{
    background-color: var(--btnClick);
}

#popLayer{
    position: absolute;
    display: none;
    background-color: rgba(181, 169, 169, 0.539);
    z-index: 10;
    width: 1000px;
    height: 100%;
}