/* 兩個區域共同class */
.plan{
    border: 3px dashed black;
}

/* 單隻購買區域 */
.pet-card-img{
    border-radius: 100px;
}
.goodsNameText{
    width: 13.5ch;
}
input:invalid{
    color: red;
}
/* 加入購物車按鈕設定 */
.submitText small{
    font-size: 12px;
}
.submitText i{
    color: gray;
}
.submitText:hover i{
    color: white;
}
.toastLink a{
    color: gray;
}
.toastLink:hover a{
    color: white;
}

/* 訂閱制區域 */
.month-card{
    overflow-x: scroll;
}
.month-card-blur{
    width: 300%;
    height: 100%;
    overflow-x: scroll;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
}
.month-card:hover .month-card-blur{
    display: none;
}
.month-card-pet img{
    max-width: 80%;
    object-fit: contain;
}